body{
    background-color: rgb(126,128,127);
}

.njobo{
    margin: auto;
    width: 700px;
    background-color: rgb(160,160,160);
    box-shadow: 10px 10px 5px 0px rgba(10, 10, 10, 0.80);
}

.atas{
    padding: 6px;
    background-color: rgb(111, 13, 27);
    text-align: center;
    color: #fff;
}
.gambar{
    width:200px;
    height:auto;
}
.isi{
    padding: 1px;
    font-size:25px;
}