body{
    background-color: aquamarine;
}

.njobo{
    margin: auto;
    width: 700px;
    background-color: azure;
    box-shadow: 10px 10px 5px 0px rgba(10, 10, 10, 0.80);
}

.atas{
    padding: 6px;
    background-color: bisque;
    text-align: center;
}
.gambar{
    width:200px;
    height:auto;
}
.isi{
    padding: 1px;
    font-size:25px;
}